# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключ для www.alphavantage.co
API_KEY=your_api_key_here

# API-ключ для api.apilayer.com
API_KEY_CR=your_api_key_here